
services:

#DNS
  dns-server:
    build:
      context: ./
      dockerfile: Dockerfile
    image:
    container_name: dns-server
    ports:
      - "53:53/udp"
    networks:
      app_network:
        ipv4_address: 172.20.0.10

#WWW
  web1-siteA:
    image: 
    container_name: web1-siteA
    networks:
      app_network:
        dns:
          - 172.20.0.10 
        ipv4_address: 172.20.0.11
      - "8081:80"
    restart: unless-stopped

#APP
  web2-siteA:
    build:
      context: ./
      dockerfile: Dockerfile
    image:
    container_name: web2-siteA
    networks:
      app_network:
        dns:
          - 172.20.0.10 
        ipv4_address: 172.20.0.12
      - "8082:80"
    restart: unless-stopped

#WWW
  web1-siteB:
    build:
      context: ./
      dockerfile: Dockerfile
    image: 
    container_name: web1-siteB
    networks:
      app_network:
        dns:
          - 172.20.0.10
        ipv4_address: 172.20.0.13
    ports:
      - "8083:80"
    restart: unless-stopped

#APP
  web2-siteB:
    build:
      context: ./
      dockerfile: Dockerfile
    image: 
    container_name: web2-siteB
    networks:
      app_network:
        dns:
          - 172.20.0.10
        ipv4_address: 172.20.0.14
    ports:
      - "8084:80"
    restart: unless-stopped

#Docker Networks
networks:
app_network:
    ipam:
      driver: bridge
      config:
        - subnet: 172.20.0.0/24