version: '3.8'

services:

  dns-server:
    build:
      context: ./dns
      dockerfile: Dockerfile
    image: dns-server
    container_name: dns-server
    ports:
      - "53:53/udp"
    networks:
      app_network:
        ipv4_address: 172.20.0.10
    restart: unless-stopped

  web1-siteA:
    build:
        context: ./sites/siteA-app
        dockerfile: Dockerfile
    image: web1a
    container_name: web1-siteA
    ports:
        - "8081:80"
    restart: unless-stopped
    dns: 
      - 172.20.0.10 
    networks:
      app_network:
        ipv4_address: 172.20.0.11

  web2-siteA:
    build:
      context: ./sites/siteA-www
      dockerfile: Dockerfile
    image: web1b
    container_name: web2-siteA
    ports:
          - "8082:80"
    restart: unless-stopped
    dns: 
      - 172.20.0.10 
    networks:
      app_network:
        ipv4_address: 172.20.0.12

  web1-siteB:
    build:
      context: ./sites/siteB-app
      dockerfile: Dockerfile
    image: web2a
    container_name: web1-siteB
    ports:
      - "8083:80"
    restart: unless-stopped
    dns: 
      - 172.20.0.10
    networks:
      app_network:
        ipv4_address: 172.20.0.13

  web2-siteB:
    build: 
      context: ./sites/siteB-www
      dockerfile: Dockerfile
    image: web2b
    container_name: web2-siteB
    ports:
      - "8084:80"
    restart: unless-stopped
    dns: 
      - 172.20.0.10
    networks:
      app_network:
        ipv4_address: 172.20.0.14

networks:
  app_network:
    ipam:
      # não está reconhecendo quando coloca-se "bridge"
      driver: default
      config:
        - subnet: 172.20.0.0/24