services:

  dns-server:
    build:
      context: ./dns
      dockerfile: Dockerfile
    image: dns-server
    container_name: dns-server
    ports:
      - "53:53/udp"
    networks:
      - asa-network
    restart: unless-stopped

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    image: proxy
    container_name: proxy
    hostname: www.pedro.asa.br
    ports:
      - "80:80"
    networks:
      - asa-network
    restart: unless-stopped

  web-siteA:
    build:
        context: ./sites/siteA-www
        dockerfile: Dockerfile
    image: web1a
    container_name: testA
    ports:
        - "8080:80"
    restart: unless-stopped
    dns: 
      - 172.20.0.10 
    networks:
      - asa-network

  web-siteB:
    build:
      context: ./sites/siteB-www
      dockerfile: Dockerfile
    image: web1b
    container_name: testB
    ports:
          - "8081:80"
    restart: unless-stopped
    dns: 
      - 172.20.0.10 
    networks:
      - asa-network

  mail:
    build:
      context: ./mail
      dockerfile: Dockerfile
    image: email
    container_name: email
    hostname: mail.pedro.asa.br
    restart: always
    tty: true
    ports:
      - "25:25/tcp"
      - "587:587/tcp"
    networks:
      - asa-network

networks:
  asa-network:
    driver: bridge